@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-12">
        @*<div class="slider">*@

        </div>

        <div>
            <div class="col-12">
                <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6">

                </div>
            </div>
            </div>

        </div>
    </div>

<style>
    .slider{
        position: absolute;
        width: 500%;
        height: 450px;
        top: 0;
        left: 20;
        right:20;
    }
</style>