<div class="row">
    <div class="col-12">
        @*<div class="slider">*@
            <p>an text any text text text text text text text tex tetx text etx text .....</p>

        </div>

        <div>
            <div class="col-12">
                <div class="row">
                <div class="col-6">
                    <p>an text any text text text text text text text tex tetx text etx text .....</p>

                </div>
                <div class="col-6">
                    <p>an text any text text text text text text text tex tetx text etx text .....</p>

                </div>
            </div>
            </div>


            <h3>
                hameed
            </h3>
        </div>
    </div>

<style>
    .slider{
        position: absolute;
        width: 500%;
        height: 450px;
        top: 0;
        left: 20;
        right:20;
    }
</style>