@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="user-body" style="margin-bottom:320px;">

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

<partial name="_Footer" />
@section Scripts {
    <script>
        carCount();
    </script>

}