   @*Site footer*@
<footer class="site-footer">
    <div class="footer-body">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">SHOES SHOP, Shop our selection of adidas men's
                    shoes, clothing & accessories at adidas.com. Get the latest styles 
                    like Ultraboost and NMD. adidas' Corporate Website features all
                    information about the latest adidas news, investor relations updates, 
                    our sustainability approach.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="#">ADIDAS</a></li>
                    <li><a href="#">NIKE</a></li>
                    <li><a href="#">ANTA</a></li>
                    <li><a href="#">PUMA</a></li>
                    <li><a href="#">CROCS</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="https://localhost:44350/Home/Shop">Shop</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="https://localhost:44350/Home/Privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    Copyright &copy; 2022 
                   
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>