@using Microsoft.AspNetCore.Identity
@using Shoes_shop.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="nav-list">
        @if (SignInManager.IsSignedIn(User))
        {
        @if (User.IsInRole(RolesName.UserRole)){

        

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="fa fa-user" aria-hidden="true"></i> Hello @User.Identity?.Name!
                </a>

            </li>
            <li>
                <a href="#">Feedback</a>
            </li>
        
            <li>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-btn">Logout</button>
                </form>
            </li>
        }
        else if (User.IsInRole(RolesName.AdminRole)){
      
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-btn">Logout</button>
            </form>
        }
        
        }else{
            <li>
                <a  asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li >
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
   


