@using Microsoft.AspNetCore.Identity
@using Shoes_shop.Helpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="nav-list">
        @if (SignInManager.IsSignedIn(User))
        {
        @if (User.IsInRole(RolesName.UserRole)){

        

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <i class="fa fa-user" aria-hidden="true"></i> Hello @User.Identity?.Name!
                </a>

            </li>
            <li>
                <a href="#">Feedback</a>
            </li>
        
            <li>
                <form asp-action="LogOut" asp-controller="Account">
                    <button type="submit" class="nav-btn">Logout</button>
                </form>
            </li>
        }
        else if (User.IsInRole(RolesName.AdminRole)){

            <form asp-action="LogOut" asp-controller="Account">
                <button type="submit" class="nav-btn">Logout</button>
            </form>
        }
        
        }else{
            <li>
            <a asp-action="Registration" asp-controller="Account" >Register</a>
            </li>
            <li >
                  <a asp-action="Login" asp-controller="Account" >Login</a>
            </li>
        }
    </ul>
   


