html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /*dark mood*/
/*  filter : invert(1);
*/}

input:checked {
    height: 20px;
    width: 20px;
}
.left-panel {
    width: 200px;
    float: left;
    border: 2px solid #ffff00;
}