@model Shoes_shop.Models.Shipping

@{
    ViewData["Title"] = "Shipping | Create";
}

<div class="content mt-5">
    <div class="container">
        <h2>Your Shipping Details</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form enctype="multipart/form-data" asp-action="CreateMyShipping">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group my-3">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="Contact" class="control-label"></label>
                        <input asp-for="Contact" class="form-control" type="number" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="ExtraDetails" class="control-label"></label>
                        <textarea asp-for="ExtraDetails" class="form-control">
                        </textarea>
                        <span asp-validation-for="ExtraDetails" class="text-danger"></span>
                    </div>
           
                    <div class="form-group my-3">
                        <input type="submit" value="Create" class="btn btn-success" />
                        @*<a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>*@
                    </div>



                </form>

            </div>
            
        </div>

    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}
