@model Shoes_shop.Models.Shoes

@{
    ViewData["Title"] = "Shoes | Create";
}

<div class="content mt-5">
    <div class="container">
        <h2>Create a new shoes</h2>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form enctype="multipart/form-data" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group my-3">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" autocomplete="off"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="ShortDescription" class="control-label"></label>
                        <textarea asp-for="ShortDescription" class="form-control">
                        </textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" type="number" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <input asp-for="IsShoesOfTheWeek" value="false" class="form-control" type="hidden"/>
                    <div class="form-group my-3">
                        <label class="control-label">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                            <option value="">Select Category..</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group my-3">
                        <label asp-for="NumberInStock" class="control-label"></label>
                        <input asp-for="NumberInStock" class="form-control" type="number" />
                        <span asp-validation-for="NumberInStock" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="ImageFile" class="custom-file-input"
                                   onchange="document.getElementById('FrontImage').src= window.URL.createObjectURL(this.files[0])" />
                        </div>

                        <span asp-validation-for="ImageFile" class="text-danger"></span>

                    </div>

                    <div class="form-group my-3">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
                    </div>
                    
                   

                </form>

            </div>
            <div class="col-6">
                <img id="FrontImage" src="~/images/defult.png" alt="shoes_img" width="500" height="500" style="border:1px;margin-top:20px;margin-left:120px;" />

            </div>
        </div>

    </div>
</div>
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            console.log(fileName);
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
